.Rproj.user
.Rhistory
.Rapp.history
.RData
.Ruserdata
draft
*.sqlite
*.tsv
*.gz
.Renviron
.lintr
orderly_envir.yml
.Rdata
runner
backup
remote
*.DS_Store
_book
_bookdown_files
src/input_sequencing/metadata.tsv
src/*.html

archive/.orderly_archive_version

figure/report_files/

archive/deaths_averted_plot_timeline/*
!archive/deaths_averted_plot_timeline/20230515-173339-4a1a13e7/
!archive/deaths_averted_plot_timeline/20230515-173520-3845e5ff/
!archive/deaths_averted_plot_timeline/20230515-173650-3718c891/
archive/generate_counterfactuals/*
!archive/generate_counterfactuals/20230515-160413-1c829c3d/
!archive/generate_counterfactuals/20230515-163933-c157b869/
!archive/generate_counterfactuals/20230515-170702-6987af72/
archive/generate_production_counterfactual/*
!archive/generate_production_counterfactual/20230515-160403-d169e8f6/
archive/generate_vaccine_counterfactual/*
!archive/generate_vaccine_counterfactual/20230515-160408-958fb8fd/
archive/input_excess_mortality/*
!archive/input_excess_mortality/20230505-171239-48a6d9dd/
archive/input_jhu/*
!archive/input_jhu/20230505-171241-f7e85c67/
archive/input_sequencing/*
!archive/input_sequencing/20230505-171542-2edaf1dd/
archive/input_vaccinations/*
!archive/input_vaccinations/20230505-171527-b75eedaf/
archive/lmic_reports_rt_optimise/*
!archive/lmic_reports_rt_optimise/20230509-161148-4da9ac3a/
!archive/lmic_reports_rt_optimise/20230509-181145-94dceefd/
archive/parameters_vaccines/*
!archive/parameters_vaccines/20230505-171154-38bf3c7e/
archive/preprint/*

/report.*
!/report.md
